/* Font import*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    color: #787878;
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1,h2,h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 180%;
}

.banner {
    text-align: center;
}


/*Header styling*/


/*Style Logo*/

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #3a3a3a;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.booking-button a {
    text-decoration: none;
    color: inherit;
    border: 2px solid rgba(250, 218, 221, 0.5);
    padding: 0 1.5rem;
    margin-right: 1.5rem;
    background-color: rgba(250, 218, 221, 0.5);
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(62, 67, 73);
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #3a3a3a;
    padding: 1rem;
}

.navbar-links li:hover {
    font-weight: bold;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .booking-button {
        display: none;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* Hero Image*/

#hero {
    margin-top: 1rem;
}

#landing-carousel {
    height: 450px;
    overflow: hidden;
}

#landing-carousel img {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

/* Hero text and description*/

#hero-text h1 {
    background-color: rgba(250, 218, 221, 0.5);
}

#hero-text p {
    margin-top: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}

@media (max-width: 768px) {
    #hero-text p {
        margin-top: 50px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 2vw;
    }
}

/* Why choose us */

#reasons-outer {
    min-height: 1200px;
    margin: 100px 50px;
}

.sub-heading {
    text-align: center;
    line-height: 150px;

}

#reasons-text {
    display: inline-block;
    max-width: 40%;
}

#reasons-text p {
    margin-bottom: 50px;
}

/*Get in touch*/

#reasons-text h1 {
    text-transform: uppercase;
}

#reasons-text a {
    text-decoration: none;
    color: inherit;
    border: 2px solid rgba(250, 218, 221, 0.5);
    padding: 15px;
    line-height: 75px;
    background-color: rgba(250, 218, 221, 0.5);
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(62, 67, 73);
}


/* Style why us images */

#why-us__image-stack {
    float: right;
    width: 50%;
    position: relative;
}

#paint {
    max-width: 40%;
    margin-right: -15%;
    margin-left: 20%;
}

#portrait-left {
    max-width: 40%;
    position: absolute;
    top: 125px;
}

@media (max-width: 768px) {
    #why-us__image-stack {
        float: right;
        width: 100%;
        position: relative;
    }

    #paint {
        width: 40%;
        margin: 0 auto;
    }

    #portrait-left {
        width: 40%;
        margin: 0 auto;
    }
}

/* As featured in*/

#featured-outer h1 {
    line-height: 150px;
}

#featured-container {
    margin-top: 150px;
    text-align: center;
    width: 100%;
}

#featured-container li {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 25px;
}

#featured-container img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

/* Styling Kind Words Section */

#kind-words {
    clear: both;
    width: 100%;
    padding-bottom: 50px;
    background-image: url(../images/outline2.webp);
    background-color: antiquewhite;
    background-size: contain;
    background-position: bottom bottom;
}

#kind-words h1 {
    background-color: rgba(250, 235, 215, 0);
    display: block;
    width: 100%;
    line-height: 150px;
}

.testimonial-container {
    display: flex;
    justify-content:space-around;
}

.testimonial-box {
    width: 33%;
    border: 1px solid #787878;
    box-shadow: #787878 5px 5px 5px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    max-height: 75%;
    background-color: white;
}

.testimonial__heading {
    text-transform: uppercase;
    min-height: 150px;
    vertical-align: middle;
    margin-top: 50px;
    font-size: larger;
    font-family: 'Cormorant Garamond';
}

.testimonial__body {
    min-height: 200px;
    margin: 50px 25px;
    vertical-align: middle;
}

.testimonial__person {
    margin: 50px 25px;
    font-family: 'Cormorant Garamond', serif;
    font-size: larger;
    text-align: right;
}

@media (max-width: 768px) {
    .testimonial-container {
        flex-direction: column;
    }
    .testimonial-box 
    {
        width: 100%;
        font-size: 2vw;
    }
}

/* Styling Footer */

.footer {
    position: relative;
    height: 250px;
    text-align: center;
    margin-bottom: 100px;
}

.footer__box {
    height: 100%;
    display: inline-block;
    width: 18%;
    vertical-align: middle;
    font-size: .75em;
    text-transform: uppercase;
    text-align: center;
}

.footer__box>ul {
    list-style-type: none;
}

.footer__box a {
    text-decoration: none;
    color: inherit;
    padding-top: 20px;
}

.footer__box h2,
h3 {
    padding-top: 25%;
    padding-bottom: 10px;
}


/*Styling social media*/

.footer__box__social h2 {
    float: right;
    width: 33%;
    margin: 0 auto;
}

.footer__box__logo {
    width: 100%;
    height: 100%;
    background-image: url(../images/logoweb.webp);
    background-size: 100%;
}

.footer__box__center {
    border-left: 1px solid #3a3a3a;
    border-right: 1px solid #3a3a3a;
}

/* About me page*/

#about-outer h1 {
    font-size: 200%;
    line-height: 150px;
    text-align: center;
}

#about-me-top {
    margin: 0 50px;
    height: 800px;
    background-color: bisque;
    position: relative;
}

#about-me-top__image-container {
    height: 800px;
    width: 70%;
    overflow: hidden;
    float: left;
}

#about-me-top__image-container img {
    height: 100%;
    width: 100%;
    object-position: center center;
    object-fit: cover;
}


#about-me-top__text-container {
    height: 800px;
    width: 30%;
    float: left;
    background-color: rgba(250, 218, 221, 0.5);
    text-align: center;
    overflow: scroll;
}

#about-me-top p {
    display: inline-block;
    margin: 10%;
}

#about-me-top h2 {
    display: inline-block;
    margin: 10%;
}

/*About me bottom area */

#about-me-bottom {
    background-color: rgba(250, 218, 221, 0.5);
    height: 700px;
    margin: 50px 50px;
    position: relative;
}

#about-me-bottom__image-stack {
    float: left;
    height: 100%;
    width: 33%;
    position: relative;
}

#painting-stack-1 {
    max-width: 60%;
    margin-right: -25%;
    margin-left: 0%;
    margin-top: 15%;
}

#painting-stack-2 {
    max-width: 60%;
    position: absolute;
    top: 35%;
}

#about-me-bottom__right-image {
    float: right;
    height: 100%;
    width: 33%;
    position: relative;
    text-align: center;
}

#about-me-bottom__right-image img {
    width: 80%;
    margin-top: 25%;
}

#about-me-bottom__text-container {
    width: 33%;
    height: 100%;
    float: left;
    overflow: scroll;
}

#about-me-bottom__text-container p {
    margin: 50px;
}