@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    color: #383d41;
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1,
h2,
h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 180%;
}

.banner {
    text-align: center;
}

.spacer {
    margin-top: 3rem;
}


/*Header styling*/


/* Nav bar */

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #3a3a3a;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.brand-title a {
    color: inherit;
    text-decoration: none;
}

/* Booking button and modal */

.booking-button {
    text-decoration: none;
    color: inherit;
    padding: 0 1.5rem;
    margin-right: 1.5rem;
    background-color: #f2dcdc80;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(173, 175, 177);
}

.booking-button:hover {
    text-decoration: none;
    font-weight: bold;
    color: #3a3a3a;
}

.modal-header {
    background-color: #f2dcdc80;}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #3a3a3a;
    padding: 1rem;
}

.navbar-links li:hover {
    font-weight: bold;
}

/* Burger icon nav */

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
        margin: .75rem;
    }

    .enquire-navbar {
        display: none;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* Hero Image*/

#hero {
    margin-top: 1rem;
}

#landing-carousel {
    height: 450px;
    overflow: hidden;
}

#landing-carousel img {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

/* Hero text and description*/

#hero-text h1 {
    background-color: #f2dcdc80;
}

#hero-text p {
    margin-top: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}

@media (max-width: 800px) {
    #hero-text p {
        margin-top: 50px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        font-size: 1rem;
    }
}

/* Why choose us */

#why-us-outer {
    width: 90%;
    margin: 5rem auto 0;
}

/*sub-heading class also used elsewhere in pages */

.sub-heading {
    text-align: center;
    line-height: 3rem;
    display: block;
    font-size: 300%;
}
#reasons-container {
    display: flex;
    margin-top: 5rem;
    min-height: 25rem;
}
#reasons-text {
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#reasons-text p {
    margin: 25px;
}
/*Get in touch*/

#reasons-text h1 {
    margin: 25px;
}

#reasons-text a {
    text-decoration: none;
    color: inherit;
    padding: 15px;
    line-height: 75px;
    background-color: rgba(250, 218, 221, 0.5);
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(173, 175, 177);
    max-width: 250px;
    margin: 25px;
}

@media (max-width: 800px) {
    #reasons-text {
        margin-bottom: 5rem;
    }
    #reasons-container {
        flex-direction: column;
    }
    #portrait-left {
        top: 75px;
    }
    #reasons-text {
        align-items: center;
    }
    #reasons-text p {
        text-align: center;
    }
    .sub-heading {
        font-size: 250%;
    }
}
/* Style why us images */
#why-us__image-stack {
    position: relative;
    min-height: 30rem;
    margin-left: 1rem;
}

#paint {
    width: 55%;
    margin-right: -15%;
    margin-left: 0;
}
#portrait-left {
    width: 55%;
    position: absolute;
    top: 125px;
}

/* As featured in*/

#featured-outer {
    margin-top: 5rem;
}

@media (max-width: 800px) {
    #featured-outer {
        margin-top: 10rem;
    }
}

@media (max-width:500px) {
    #featured-outer {
        margin: 2rem;
    }
}

#featured-outer h1 {
    line-height: 5rem;
    text-align: center;
}

#featured-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#featured-container ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 3rem;
    list-style: none;
}

#featured-container li {
    width: 20%
}

#featured-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media (min-width:800px) {
    #featured-container li {
        width: 10%
    }
}

/* Styling Kind Words Section */

#kind-words {
    margin-top: 5rem;
    width: 100%;
    padding-bottom: 50px;
    background-image: url(../images/outline2.webp);
    background-color: #f2dcdc80;
    background-size: contain;
}

#kind-words h1 {
    line-height: 150px;
}

.testimonial-container {
    display: flex;
    justify-content: space-around;
}

/*Testimonials*/

.testimonial-box {
    border: 1px solid #787878;
    box-shadow: #787878 5px 5px 5px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.testimonial__heading {
    min-height: 33%;
    vertical-align: middle;
    margin-top: 50px;
    font-size:large;
    font-family: 'Cormorant Garamond';
}

.testimonial__body {
    min-height: 33%;
    margin: 50px 25px;
    vertical-align: middle;
}

.testimonial__person {
    margin: 50px 25px;
    font-family: 'Cormorant Garamond', serif;
    font-size: larger;
    text-align: right;
}

@media (max-width: 768px) {
    .testimonial-container {
        flex-direction: column;
    }

    .testimonial-box {
        font-size: 12px;
    }
}

/* Styling Footer */

.footer-outer {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.footer__box {
    width: 18%;
    vertical-align: middle;
    font-size: .75em;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem;
}

/*Footer logo*/

#footer-brand-logo-container {
    margin-top: 0;
}

.footer__box>ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.footer__box a {
    text-decoration: none;
    color: inherit;
    padding-top: 20px;
}

.footer__box a:hover {
    font-weight: bold;
    font-size: 110%;
}

.footer__box h2,
h3 {
    padding-bottom: 10px;
}


/*Styling social media*/

.footer__box__social>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer__box__social h2 {
    width: 33%;
    margin: 0 auto;
}

#footer-brand-logo {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.footer__box__center {
    border-left: 1px solid #3a3a3a;
    border-right: 1px solid #3a3a3a;
}

@media (max-width: 800px) {
    .footer-outer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: start;
    }

    .footer__box {
        width: auto;
    }

    .footer__box.footer__box__social {
        width: 100%;
    }

    #footer-brand-logo-container {
        display: none;
    }
}

/* About me page*/

#about-outer h1 {
    font-size: 200%;
    line-height: 150px;
    text-align: center;
    margin: 0 50px;
    overflow: hidden;
    position: relative;
}

#about-me-top {
    height: 800px;
    width: 100%;
    background-color: bisque;
    position: relative;
}

#about-me-top__image-container {
    height: 800px;
    width: 100%;
    background: url(../images/about-me-main.webp) center center;
    background-size: cover;
    background-position: -300px center;
    overflow: hidden;
    background-repeat: repeat-x;
    position: relative;
}

#about-me-top__text-container {
    height: 800px;
    width: 33%;
    background-color: #f5eee6e6;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 50px;
    padding: 2%;
}

@media (max-width:800px) {
    #about-me-top__text-container {
        font-size: 1.75vw;
    }
}

@media (max-width:1000px) {
    #about-me-top__text-container {
        font-size: 1.5vw;
    }
}

@media (max-width:560px) {
    #about-me-top__text-container {
        margin: 0;
        width: 95%;
        height: 350px;
        right: 0;
        font-size: 2.3vw;
    }
}

#about-me-top p {
    margin: 5%;
}

#about-me-top h2 {
    margin: 5%;
}

/*About me bottom area */

.about-bottom-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.bottom-box {
    width: 360px;
    text-align: center;
    margin: 10px;
}

.bottom-box a {text-decoration: none;
    color:inherit;
    font-weight:bold;
    }
    
.bottom-box a:hover {text-decoration: none;
        color:rgb(160, 160, 160);
    font-weight:bolder;
    }

#overlap-container {
    position: relative;
    height: 550px;
}

#about-stack-1 {
    width: 60%;
    height: 300px;
    margin-right: -15%;
    margin-left: 0;
    background-image: url(../images/about-me-stack-1.webp);
    background-size: cover;
}

#about-stack-2 {
    width: 60%;
    position: absolute;
    height: 300px;
    bottom: 0;
    right: 0;
    background-image: url(../images/about-me-stack-2.webp);
    background-size: cover;
}

#about-bottom-portrait {
    background-image: url(../images/about-me-bottom-right.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
}

/* Products Page*/

#product-hero {
    height: 450px;
    overflow: hidden;
}

#product-hero img {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

#products-banner {
    background-color: #ebeff2;
}

#product-anchors {
    margin: 1rem;
}

#product-anchors a {
    text-decoration: none;
    color: inherit;
}

#product-anchors a:hover {
    font-size: 110%;
    font-weight: bold;
}

#customisable-border {
    border-left: 2px solid #3a3a3a;
    padding-left: .5rem;
}

#product-text-outer {
    display: flex;
    width: 100%;
    justify-content: center;
}

#products-text-container {
    text-align: center;
    margin: 10px;
}

.sm {
    display: none;
}

@media (min-width: 992px) {
    #products-text-container {
        margin: 50px;
    }
}

/*Bespoke Section*/

.bespoke-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.bespoke-box {
    width: 340px;
    text-align: center;
}

.sm {
    display: none;
}

@media (min-width: 560px) {
    #bespoke-text-1 {
        width: auto;
        margin: 10px;
    } 
        #bespoke-text-2 {
            width: auto;
            margin: 10px;
        }
}

@media (min-width: 992px) {
    #bespoke-video-container {
        position: relative;
        width: 30%;
    }

    #bespoke-text-1 {
        width: 60%;
    }

    .sm {
        display: inline;
    }

    .bespoke-container {
        margin-left: 50px;
        margin-right: 50px;
    }
}

/* Customisable */

.customisable-banner {
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    margin-top: 5rem;
}

.customisable-banner div {
    background-color: rgba(0, 0, 0, .2);
}

.customisable-banner h1 {
    vertical-align: middle;
    line-height: 200px;
    color: white;
    font-size: 40px;
}

.customisable-container {
    display: flex;
}

#customisable-text {
    margin: 3rem 1rem 0;
}

#customisable-text a {
    color: inherit;
    font-weight:bold;
}

@media (min-width: 992px) {
    .customisable-container {
        margin-left: 50px;
        margin-right: 50px;
    }
}

/*Peony*/

#peony-banner {
    background-image: url(../images/peony-1-banner.webp);
    background-size: cover;
    background-position: center center;
    background-color: #d9bfbf;
}

.cust-product-outer {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.cust-product-text-container {
    text-align: center;
}

.cust-product-outer img {
    width: 340px;
    height: 340px;
    margin: 5px;
    object-fit: cover;
}

@media (min-width: 560px) {
    .cust-product-outer img {
        width: 320px;
    }
}

@media (min-width:1000px) {
    .cust-product-text-container {
        width: 340px;
    }

    .cust-product-outer {
        margin-top: 5rem;
    }

    .customisable-banner {
        margin-top: 10rem;
    }

    .spacer {
        margin-top: 7rem;
    }
}

@media (min-width: 768px) {
    .cust-product-img-container {
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        justify-content: space-between;
    }
}

#anenome-banner {
    background-image: url(../images/anenome-1.webp);
    background-size: cover;
    background-position: center center;
    background-color: palegreen;
}

/* Contact us */

#contact-outer {
    width: 100%;
}

#contact-outer h1 {
    font-size: 200%;
    line-height: 150px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#map-outer {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

#map-container {
    width: 800px;
    height: 400px;
}

.map {
    width: 100%;
    height: 100%;
}

#contact-details-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 5rem auto 0;
    max-width:800px;
    padding-top: 20px;
}

.form textarea {
    border: 1px solid grey;
    color:grey;
    font-family: inherit;
    text-transform: uppercase;
}

.form label {
    margin-top: 10px;
}

.form input {
    background-color: rgb(221, 221, 221)
}

.form button {
    margin-top:20px;
    font-family: inherit;
    text-transform: uppercase;
}

.contact-box {
    width: 340px;
    margin: 0 10px 50px;
}

/* 404 Page */

#error-outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#oops-container img {
    width: 320px;
    height: 400px;
    object-fit:contain;
}

#image-404 {
    width: 100%;
    height:100%;
    background: url(../images/oops-image.png) no-repeat center center;
    background-size: contain;
    background-color: rgb(204, 202, 199);
}